body {
  font-family: 'Noto Sans KR', 'dotum', '돋움';
  font-size: 16px;
  line-height: 1.4;;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
}

.inner {
  width: 1224px;
  margin: 0 auto;
  position: relative;
}

header {
  position: relative;
  .main-banner {
    background-color: #000;
     .inner {
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        color: #fff;
        font-size: 14px;
      }
    }
  }
  > .inner {
    height: 96px;
    display: flex;
    .main-menu {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 48px;
      .item {
        &:hover {
          .item__contents {
            display: block;
            .inner {
              border-top: 1px solid #d8d8d8;
            }
          }
        }
        .logo {
          width: 81px;
          height: 21px;
          position: absolute;
          margin: auto;
          top: 0;
          left: 0;
          bottom: 0;
        }
        .item__name {
          position: relative;
          left: 130px;
          cursor: pointer;
          &:hover {
            color: #18a957;
          }
        }
        .item__contents {
          width: 100%;
          position: fixed;
          left: 0;
          display: none;
          .contents__menu {
            .inner {
              display: flex;
              top: 30px;
              li {
                width: 103px;
                padding: 5px 0;
                h4 {
                  font-weight: 900;
                  margin-top: 20px;
                  margin-bottom: 10px;
                }
                ul {
                  li {
                    font-size: 13px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .user-menu {
      display: flex;
      align-items: center;
      ul {
        display: flex;
        position: absolute;
        right: 0;
        gap: 20px;
        li {
          position: relative;
          .material-symbols-outlined {
            font-size: 28px;
          }
          span {
            &:nth-child(2) {
              background-color: #18a957;
              border-radius: 50%;
              width: 15px;
              height: 15px;
              font-size: 10px;
              color: #fff;
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              right: 0;
              top: 0;
            }
          }
        }
      }
    }
  }